:root {
  --bg: var(--teal-1);
}
@media (prefers-color-scheme: dark) {
  :root:not(.-no-dark-theme) {
      --bg: var(--teal-9)
  }
}

/* copied the dark theme stuff from missing.css - better way? */
html.dark {
    --fg: var(--gray-0);
    --muted-fg: var(--gray-2);
    --faded-fg: var(--gray-7);
    --plain-bg: var(--gray-11);
    --info-bg: var(--blue-12);
    --ok-bg: var(--green-12);
    --bad-bg: var(--red-12);
    --warn-bg: var(--yellow-12);
    --plain-faded-fg: var(--blue-6);
    --info-faded-fg: var(--blue-6);
    --ok-faded-fg: var(--green-6);
    --bad-faded-fg: var(--red-6);
    --warn-faded-fg: var(--yellow-6);
    --bg: var(--gray-12);
    --box-bg: var(--gray-10);
    --interactive-bg: var(--gray-8);
    --plain-fg: (--blue-2);
    --info-fg: var(--blue-2);
    --ok-fg: var(--green-2);
    --bad-fg: var(--red-2);
    --warn-fg: var(--yellow-2);
    --accent: var(--blue-2);
    --muted-accent: var(--blue-5);
}
