---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1">
		<title>About Astro Tutoria</title>
	</head>
	<body>
		<header class="navbar">
			<nav aria-label="Site sections">
			  <ul role="list">
				<li><a href="/">Home</a>
				<li><a href="/about">About</a>
				<li><a href="/blog">Blog</a>
			  </ul>
			</nav>
		</header>
		<main>
			<section>
				<h1>Section 1</h1>
				<p>This is the content for the first section.</p>
			</section>
			<section>
				<h1>Section 2</h1>
				<p>This is the content for the second.</p>
			</section>
		</main>
	</body>
</html>
