---
import BaseLayout from '../layouts/BaseLayout.astro';
const happy = true;
const finished = true;
---
<BaseLayout pageTitle={'About The Tutorial'}>
	<h2>Statements from static code</h2>
	{happy && <p>I am happy to be learning Astro!</p>}
	{finished && <p>I finished this tutorial!</p>}
</BaseLayout>