---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
const allNews = await Astro.glob('../pages/news/*/*.md');
---
<BaseLayout pageTitle={'Tutorial Blog'}>
	<p>Tutorial Section 5 - globbing files into collections.</p>
	<p><a href="../posts/1">Direct link to Post 1</a></p>

	<p>Generated links to all posts:
		<ul>
			{allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
		</ul>
		<p>End of posts</p>
	</p>
	<p>Another list:
		<ul>
			{allNews.map((n) =>
				<li>
					<a href={n.url}>{n.frontmatter.title}</a>
				</li>)
			}
		</ul>
		<p>End of other.</p>
	</p>
	
</BaseLayout>
