---
import 'missing.css';
import '../styles/missing-custom.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
const pageTitle = "Tutorial Blog";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Tutorial Blog Page</title>
	</head>
	<body>
		<Navigation />
		<main>
			<p>So this could be the first blog page. Or it might be
            the index of a page bundle. We'll see how Astro does
            that kind of thing.</p>
			<p>Whatever, it didn't work to put the file in a different
				folder to <code>pages</code>. Not that I tried hard.
			</p>
			<p>Turns out, you need the subfolders to be under pages</p>
			<p><a href="./posts/1">Like Post 1 here</a></p>
		</main>
		<Footer />
	</body>
</html>
