---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1">
		<title>Astro</title>
	</head>
	<body>
		<main>
			<h1>Hello Astro! How's it hanging?</h1>
			<p>What do you know? Here's new content.</p>
		</main>
	</body>
</html>
