---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Astro Tutorial";
---
<BaseLayout pageTitle={pageTitle}>
	<Greeting client:load messages={["Hi", "Hello", "Wotcha", "Now then", "Greetings"]}/>
	<p>Now on stage 6.</p>
</BaseLayout>
