---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1">
		<title>Astro Tutorial</title>
	</head>
	<body>
		<header class="navbar">
			<nav aria-label="Site sections">
			  <ul role="list">
				<li><a href="/">Home</a>
				<li><a href="/about">About</a>
				<li><a href="/blog">Blog</a>
				<li><a href="https://jelpo-gumlings.netlify.app/" target="_blank">Live</a>
			  </ul>
			</nav>
		</header>
		<main>
			<h1>The Astro Tutorial</h1>
			<p>Currently static and with plenty of code duplication.</p>
		</main>
	</body>
</html>
