---
import Tech from "./Tech.astro";
---
<footer>
    <p>
        Made with
        <Tech name="Astro" url="https://astro.build"></Tech> and
        <Tech name="missing.css" url="https://missing.style"></Tech>.
    </p>
</footer>