---
const isDev = import.meta.env.DEV;
---
<header class="navbar" data-overflow-nav>
  <button class="iconbutton" data-nav-expander aria-hidden>
    &#x2630; <!-- trigram for heaven -->
  </button>
    <nav aria-label="Site sections">
      <ul role="list">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        {isDev && <li><a href="https://jelpo-gumlings.netlify.app/">Live</a></li>}
      </ul>
    </nav>
</header>